{% extends 'base.html.twig' %}

{% block title %}Main!{% endblock %}

{% block  main_cont %}
    <br> </br>
    <br> </br>
    <h1></h1>
    <h1>Main! ✅</h1>
    <h1>Here can be your advertising</h1>
    <h1>Здесь может быть Ваша реклама</h1>
{% endblock %}