{% extends 'base.html.twig' %}

{% block title %}Product!{% endblock %}

{% block  main_cont %}

    <br>
    <h1></h1>
    <h1>{{ product.name }} ✅</h1><br>
    <b> {{ product.description|raw }} </b><br><br>
    <b> Price {{ product.formatedprice }}$ </b><br><br>
    <b><img src="{{ product.imageNamePath }}" width="400" height="300"> </b><br>

    <form class="mt-4 p-4 bg-light" method="post">
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity">
        </div>
        <button class="green">Add to Cart</button>
    </form>





{% endblock %}

