{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block  main_cont %}
    <br> </br>
    <br> </br>
    <h1></h1>
    <h1>Privet! localhost ✅</h1>
    <h1>Here can be your advertising</h1>
    <h1>Здесь может быть Ваша реклама</h1>
{% endblock %}